@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.header,
.footer {
  background: $black;
  color: $white;

  a {
    color: $white;
    font-size: 12px;
  }
}

.header {
  font-size: 12px;
  text-align: center;

  .txt,
  .img {
    padding: 16px 0;
  }
}

.btn-wnb,
.btn-light {
  border-radius: 0;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
}

.btn-light {
  background: $white;
  border: 1px solid $white;
  min-width: 250px;
}

.btn-wnb {
  background: none;
  border: $hr-border;
}

img {
  width: 100%;
}

.bg-tuto {
  background: #F4F4F4;
}

.trend-container {
  position: relative;

  .bg-trend {
    background: #E9E9EB;
  }

  .text-container {
    background: #E9E9EB;
    padding-top: 19px;
    width: 100%;

    .title {
      font-size: 14px;
    }
  }
}

.row-relative {
  min-height: 64px;
  position: relative;
}

.tuto-title {
  font-size: 24px;
  left: 50%;
  min-width: 225px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 0 15px;
  width: 100%;
  text-align: center;

  span {
    display: block;
  }

  i {
    border-bottom: $black solid 2px;
    display: block;
    margin: 0 auto;
    width: 80px;
  }
}

.categories-list {
  .large-6 {
    border: red solid thin;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  a {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 784px) {
  .categories-list {
      background: #DFFEE0;
  }
}

.inline-list {
  border-top: $hr-border;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 16px;

  @media (max-width: 767px) {
    display: inline-block!important;
  }

  li {
    float: left;
    list-style: none;

    a {
      font-size: 12px;
      text-transform: uppercase;
    }

    @media (max-width: 767px) {
      float: left;
      padding: 15px 0;
      text-align: center;
      width: 50%;
    }
  }
}

.section-top,
.section-bottom {
  padding: 16px;
  position: relative;
}

.section-top {
  .btn-light {
    color: $black;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 767px) {
      margin-top: 30px!important;
      position: relative!important;
      right: 0!important;
      transform: unset!important;
    }
  }

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}


// .tutorial-contaioner {
//   background: #f4f4f4;
//   display: flex;
//   justify-content: flex-end;
//   padding: 16px;
//   position: relative;
//
//   @media screen and (max-width: 767px) {
//     flex-direction: column;
//   }
//
//   .tuto-card {
//     margin-left: 16px;
//     max-width: 270px;
//
//     img {
//       width: 100%;
//     }
//
//     p {
//       -webkit-box-orient: vertical;
//       display: -webkit-box;
//       height: 32px;
//       -webkit-line-clamp: 2;
//       line-height: 16px;
//       margin-bottom: 0;
//       padding: 16px 0;
//       overflow: hidden;
//       text-align: center;
//       text-overflow: ellipsis;
//     }
//   }
//
//   .title-container {
//     left: 16px;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//
//     @media screen and (max-width: 767px) {
//       left: 0;
//       margin-bottom: 16px;
//       position: relative;
//       transform: unset;
//       width: 100%;
//     }
//   }
//
//   .title {
//     font-size: 24px;
//     position: relative;
//     text-transform: uppercase;
//
//     @media screen and (max-width: 767px) {
//       text-align: center;
//     }
//
//     span {
//       display: block;
//
//       @media screen and (max-width: 767px) {
//         display: inline-block;
//       }
//     }
//
//     &::after {
//       border-bottom: 2px solid #000;
//       bottom: 0;
//       content: '';
//       height: 100%;
//       left: 0;
//       position: absolute;
//       width: 40px;
//
//       @media screen and (max-width: 767px) {
//         left: 50%;
//         transform: translateX(-50%);
//       }
//     }
//   }
// }

// .interesting-links {
//   border-top: $hr-border;
//   display: flex;
//   justify-content: space-between;
//   padding: 16px 0;
//
//   @media screen and (max-width: 767px) {
//     display: inline-block;
//     width: 100%;
//   }
//
//   a {
//     font-size: 12px;
//     text-transform: uppercase;
//
//     @media screen and (max-width: 767px) {
//       float: left;
//       text-align: center;
//       width: 50%;
//
//       &:not(:last-child) {
//         margin-bottom: 30px;
//       }
//     }
//   }
// }



.section-bottom {
  border-top: $white solid thin;

  .copy-right {
    display: table;

    @media screen and (max-width: 767px) {
      display: block!important;
      margin-bottom: 30px!important;
      text-align: center!important;
    }

    img {
      display: inline-block;
      @media screen and (max-width: 767px) {
        width: auto!important;
      }
    }

    span {
      display: table-cell;
      font-size: 12px;
      vertical-align: middle;

      @media screen and (max-width: 767px) {
        display: block!important;
        margin-top: 20px!important;
      }
    }
  }

  .legal-links {
    float: right;
    transform: translateY(-100%);

    @media screen and (max-width: 767px) {
      float: none!important;
      transform: unset!important;
    }

    a  {
      &:not(:last-of-type) {
        margin-right: 16px;
      }

      @media screen and (max-width: 767px) {
        display: block!important;
        margin: 0!important;
        text-align: center!important;

        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
    }
  }
}



.social-networks {
  display: table;

  @media screen and (max-width: 767px) {
    display: block!important;
    text-align: center!important;
  }

  span {
    display: table-cell;
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: middle;

    @media screen and (max-width: 767px) {
      display: block!important;
      margin-bottom: 30px!important;
    }
  }

  img {
    display: inline-block;
    margin-left: 16px;
    width: 48px;
  }
}
